$container-height:40px;
.container{
	background-color: round;
	width: 100%;
	height: $container-height;
	line-height: $container-height;
	// padding-left:30px;
	.side-button{
		float:right;
		height: $container-height;
		line-height: $container-height;
		border:none;
		background:none;
		color:blue;
	}

	.cwd-area{
		margin-left: 20px;
		display: inline;
	}
}