
<svg width="60px" height="63px" viewBox="0 0 60 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 43.2 (39069) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs>
        <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-1">
            <stop stop-color="#3CD889" offset="0%"></stop>
            <stop stop-color="#A1F07A" offset="100%"></stop>
        </linearGradient>
        <rect id="path-2" x="0" y="4.90909091" width="52" height="37.0909091"></rect>
        <filter x="-13.5%" y="-13.5%" width="126.9%" height="137.7%" filterUnits="objectBoundingBox" id="filter-3">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.0970335145 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
        </filter>
        <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-4">
            <stop stop-color="#49F9BC" offset="0%"></stop>
            <stop stop-color="#31B77C" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Folder" transform="translate(4.000000, 0.000000)">
            <g id="folder-icon">
                <g id="Rectangle-2">
                    <use fill="black" fill-opacity="1" filter="url(#filter-3)" xlink:href="#path-2"></use>
                    <use fill="url(#linearGradient-1)" fill-rule="evenodd" xlink:href="#path-2"></use>
                </g>
                <polygon id="Rectangle-2-Copy" fill="url(#linearGradient-4)" points="34.9396614 0 52 0 52 4.90909091 30.6739134 4.90909091"></polygon>
            </g>
            <text id="Folder-name" font-family="SourceSansPro-Regular, Source Sans Pro" font-size="10" font-weight="normal" fill="#008920">
                <tspan x="0" y="62">{{folder.name}}</tspan>
            </text>
        </g>
    </g>
</svg>